@charset "UTF-8";
/* CSS Document for Easycollapsible plugin */

		   
	a.fheader.showed:before {
		
	background: #C11600;
	color: #fff;
	content: "\f107";
	float: left;
	font-family: "FontAwesome";
	font-size: 1.2em;
	margin: -1px 5px 0 -16px;
	padding: 1px;
	text-align: center;
	width: 33px;

	}

	a.fheader:before {

	background: #C11600;
	color: #fff;
	content: "\f105";
	float: left;
	font-family: "FontAwesome";
	font-size: 1.2em;
	margin: -1px 5px 0 -16px;
	padding: 1px;
	text-align: center;
	width: 33px;

	}

	.section .topictitle {

	color: #333333;
	background-color: #f5f5f5;
	border-bottom: #ddd 1px solid;;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 1px;

	}

	.section .side.right, .section .side.left {

		float: none;
	}




	div.multi-collapse.easycollapse{

		height: 0px!important;
		transition: height .35s ease!important;
		overflow: hidden;
	}

	div.multi-collapse.easycollapse.showed{

		height:auto!important;
		transition: height .35s ease!important;
	}

	.course-content ul li.section.main {
		margin-bottom:0px!important;
	}
