@charset "UTF-8";
/* CSS Document for Easycollapsible plugin */
a.format-easycollapsible_fheader.format-easycollapsible_showed:before {
    background: #c11600;
    color: #fff;
    content: "\f107";
    float: left;
    font-family: "FontAwesome";
    font-size: 1.2em;
    margin: -1px 5px 0 -16px;
    padding: 1px;
    text-align: center;
    width: 33px;
}
a.format-easycollapsible_fheader:before {
    background: #c11600;
    color: #fff;
    content: "\f105";
    float: left;
    font-family: "FontAwesome";
    font-size: 1.2em;
    margin: -1px 5px 0 -16px;
    padding: 1px;
    text-align: center;
    width: 33px;
}
.format-easycollapsible_section .format-easycollapsible_topictitle {
    color: #333;
    background-color: #f5f5f5;
    border-bottom: #ddd 1px solid;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 1px;
}
.format-easycollapsible_section .format-easycollapsible_side.format-easycollapsible_right {
    float: none;
}
.format-easycollapsible_section .format-easycollapsible_side.format-easycollapsible_left {
    float: none;
}
div.format-easycollapsible_multi-collapse.format-easycollapsible {
    height: 0px;
    transition: height .35s ease;
    overflow: hidden;
}
div.format-easycollapsible_multi-collapse.format-easycollapsible.format-easycollapsible_showed {
    height: auto;
    transition: height .35s ease;
}
.course-content ul li.format-easycollapsible_section.format-easycollapsible_main {
    margin-bottom: 0px;
}